#myBox {
    background-color: rgb(16, 195, 105);
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}
#myButton {
    font-size: 3rem;
}